#navbar {
    position: absolute;
    top: 0;
    width: 101%;
    height: 65px;
    margin-left: -8px;
    background: linear-gradient(to bottom, #1818188d, #0e0e0e3e);
    z-index: 999;
}

.nav-list {
    width: 90%;
    height: 65px;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 12%;
    height: 65px;
}

.ul-list {
    width: 90%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mylist {
    color: #bbbbbb;
    font-family: 'Quicksand', sans-serif;
    transition: .5s;
    font-size: 20px;
    text-decoration: none;
}

.mylist:hover {
    color: #ffffff;
    cursor: pointer;
}

/* dropDown */

.user_name {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

.bx-user {
    top: 4px;
    left: -10px;
    font-size: 23px;
}

.dropdown-menu {
    position: absolute;
    top: 65px;
    right: 130;
    width: 150px;
    background: #141414;
    border: 1px solid #333;
    border-radius: 8px;
}

.dropdown-menu a,
.dropdown-menu button {
    display: block;
    width: 100%;
    padding: 12px 15px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration: none;
    background: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
    background: #2a2a2a;
}

.sign-btn {
    margin-left: -60px;
    margin-top: -25px;
    font-size: 23px;
    color: #ffff;
    position: relative;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    /* background: #034db4; */
}

.bx-arrow-in-right-square-half {
    font-size: 30px;
    position: absolute;
    left: -35px;
}






@media (max-width: 768px) {
    #navbar{
        height: 55px;
        position: absolute;
        z-index: 999;
    }
    .logo{
        width: 100px;
    }
    .ul-list{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .mylist{
        display: none;
    }
    .user_name{
        font-size: 20px;
    }
    .sign-btn{
        margin-left: -40px;
        font-size: 20px;
    }

}