#navbar {
    position: absolute;
    top: 0;
    width: 101%;
    height: 65px;
    margin-left: -8px;
    /* background: linear-gradient(to bottom, #181818, #0e0e0e93); */
    z-index: 999;
}

.nav-list {
    width: 90%;
    height: 65px;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.464);
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    padding: 5px 25px;
    border-radius: 15px;
    font-size: 20px;
}

.logo span {
    /* font-size: 35px; */
    color: #ff0000;
}

.ul-list {
    width: 90%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mylist {
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    transition: .5s;
    font-size: 20px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.582);
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    padding: 5px 25px;
    border-radius: 15px;
}

.mylist:hover {
    color: #ffffff;
    cursor: pointer;
}

/* dropDown */

.user_name {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}

.bx-user {
    top: 4px;
    left: -10px;
    font-size: 23px;
}

.dropdown-menu {
    position: absolute;
    top: 65px;
    right: 130;
    width: 150px;
    background: #141414;
    border: 1px solid #333;
    border-radius: 8px;
}

.dropdown-menu a,
.dropdown-menu button {
    display: block;
    width: 100%;
    padding: 12px 15px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-decoration: none;
    background: transparent;
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
    background: #2a2a2a;
}

.sign-btn {
    margin-left: -60px;
    font-size: 20px;
    color: #ffff;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    background: rgba(255, 255, 255, 0.214);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.464);
    border-radius: 12px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.992);
    padding: 5px 25px;
    border-radius: 15px;
}

.bx-arrow-in-right-square-half {
    font-size: 20px;
    right: 10px;
    position: absolute;
    right: 80px;
    top: 8px;
}






@media (max-width: 768px) {
    #navbar {
        height: 55px;
        position: absolute;
        z-index: 999;
    }

    .logo {
        width: 100px;
    }

    .ul-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .mylist {
        display: none;
    }

    .user_name {
        font-size: 20px;
    }

    .sign-btn {
        margin-left: -40px;
        font-size: 20px;
    }

}